[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bs4 = "*"
pytz = "*"
requests = "*"
waybackpy = "*"
pywin32 = "*"
pypiwin32 = "*"
loguru = "==0.5.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"